body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* heder  */

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.nav-link li a {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link li a:hover,
.nav-link li a:focus {
  color: #404bbf;
  text-decoration: underline;
}

.adress-link li a {
  font-style: normal;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress-link li a:hover,
.adress-link li a:focus {
  color: #404bbf;
}

/* section 1 */

.section1 {
  background: #2e2f42;
}

.section1-title {
  color: #ffffff;
  text-align: center;
  font-size: 56;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
}

.section1-button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
}

.section1-button:hover,
.section1-button:focus {
  background: #404bbf;
}

/* section2 */

.section2 li h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section2 li p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section3 */

.section3 {
  background: #f4f4fd;
}

.section3 h2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

.our-team-list {
  background-color: #ffffff;
}

.our-team-list li h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-list li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 4 */

.section4 h2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  background: #2e2f42;
}

.logo-studio-white {
  color: #f4f4fd;
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
